xmltodict==0.13.0
wrapt==1.12.1
toml==0.10.2
setuptools==49.2.1
pylint==2.7.4
pycparser==2.21
pip==20.2.3
numpy==1.23.5
mccabe==0.6.1
lxml==4.9.1
lazy-object-proxy==1.6.0
isort==5.8.0
dict2xml==1.7.2
cryptography==38.0.4
cffi==1.15.1
astroid==2.5.2